.user-details {
  max-width: 360px;
}

.user-details-header {
  text-align: center;
}

.user-details-avatar {
  width: 100%;
  min-width: 240px;
}

.user-details-item {
  display: grid;
  grid-template-columns: 4fr 8fr;
  padding-top: 4px;
  padding-bottom: 4px;
}

.user-details-item-label {
  font-weight: 700;
}

.user-details-button-back {
  margin-top: 40px;
  display: block;
  text-align: center;
  padding: 4px;
  border-radius: 4px;

  background-color: transparent;
  border: 1px solid darkred;
  cursor: pointer;
}

.user-details-button-back:hover {
  background-color: antiquewhite;
}
