.users-list {
  text-align: center;
}

.users-list-container {
  padding: 0;
  min-width: 160px;
  max-width: 1200px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
}

.users-list-item-avatar {
  height: 120px;
  width: 120px;
}

.users-list-item {
  padding: 8px 15px;
  display: flex;
  flex-direction: column;
}

.users-list-item:hover {
  cursor: pointer;
  background-color: lightgray;
  font-weight: 700;
}

